html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    height: 100vh; /* lock layout to viewport */
    width: 100vw;
}

#sidebar {
  width: 400px;
  padding: 5px;
  overflow: auto; /* independent scroll */
}

#panzoomGraphContainer {
    flex: 1;
    border-left: 2px solid;
    position: relative;
    display: block;
    float: right;
    overflow: auto;
}

.node-overlay {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 2px;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: wheat;
}

.node-alternate-recipes {
    display: flex;
    width: 100%;
}

.node-alternate-recipes > .recipe-label {
    white-space: nowrap;
    flex-shrink: 0;
}

.node-alternate-recipes > select {
    flex: 0 1 auto; /* Don't grow, do shrink, base on content */
    min-width: 0;
    max-width: 100%;
    width: auto;
}

.node-icon {
    height: 48px;
    width: 48px;
    float: right;
}

.edge-overlay {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}